<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4JS5iBm7dyE2rKncH9gO9DmpBPV2EJe0</string>
	<key>GCM_SENDER_ID</key>
	<string>393701772550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.heyfollowup.app</string>
	<key>PROJECT_ID</key>
	<string>heyfollowup</string>
	<key>STORAGE_BUCKET</key>
	<string>heyfollowup.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393701772550:ios:86e0582e515156dd4e6287</string>
</dict>
</plist>